.customizing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://s1.1zoom.me/big0/128/401726-svetik.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fill-calendar {
    background-color: white;
    opacity: 0.8;
    height: 70%;
    width: 45%;
    overflow: scroll;
}

.fill-calendar h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.import-media {
    background-color: white;
    opacity: 0.8;
    height: 70%;
    width: 45%;
}

.import-media h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}