.locked{
    margin: 1vh;
    /* background-color:#E73C3E; */
    background-image: url('https://image.flaticon.com/icons/svg/186/186524.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
    border-radius: 10px;
}

.locked img {
    display: none;
}

.locked p {
    position: relative;
    top: 45px;
    font-size: 24px;
}

.locked form {
    /* display: none; */
}

.openable form {
    /* display: none; */
}

form option{
    width:50px;
}

.openable{
    margin: 1vh;
    /* background-color:#727563; */
    background-image: url('https://cdn0.iconfinder.com/data/icons/restaurant-53/64/Cover-food-plate-restaurant-512.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
    border-radius: 10px;
}


.openable.preview{
    background-image: url('https://cdn0.iconfinder.com/data/icons/restaurant-53/64/Cover-food-plate-restaurant-512.png');
}


.openable img {
    display: none;
}

.opened{
    /* background-color: blue; */
    background-image: none;
    color: transparent;
    
}


.opened img {
    display: block;
}


.date {
    font-size: 30px;
    position: relative;
    top: 10px;
}

.openable p{
    position: relative;
    top: 45px;
    font-size: 24px;
}

.fill-date-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}