.fillCalendarDiv{
    border: solid black 1px;
    text-align: center;
}

.allBoxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
}