.landingPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://s1.1zoom.me/big0/128/401726-svetik.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloc-hp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage h1 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.landingPage p {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.button {
    height: 45px;
    font-size: 18px;
}

.button:hover {
    box-shadow: 0 0 60px 30px #fff;
}
